
a.lien {
  background: #34d958;
  background-image: -webkit-linear-gradient(top, #34d958, #1b7319);
  background-image: -moz-linear-gradient(top, #34d958, #1b7319);
  background-image: -ms-linear-gradient(top, #34d958, #1b7319);
  background-image: -o-linear-gradient(top, #34d958, #1b7319);
  background-image: linear-gradient(to bottom, #34d958, #1b7319);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

a.lien:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

